<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1073043418557-gk6d86fjff1kp7dricmqnhjchgkft24p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1073043418557-gk6d86fjff1kp7dricmqnhjchgkft24p</string>
	<key>API_KEY</key>
	<string>AIzaSyA7vphx58tcgw28-mnsHJ7Wh3yk9Vwzgqg</string>
	<key>GCM_SENDER_ID</key>
	<string>1073043418557</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jacobchestnut.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios-13-b7513</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios-13-b7513.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1073043418557:ios:042d306dd1e81d196f76d4</string>
</dict>
</plist>